.footer {
  width: 100%;
  padding: 10px 0;
  background-color: #F5F5F5;
  border-top: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 7px #777;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer-relative {
  position: relative;
  margin-top: auto;
}

.footer-content {
  color: #666;
  font-size: 0.85rem;
  font-weight: 400;
} 